
<div class="showcase-container bg" [ngClass]="{'expanded-container': mode === 'standalone'}">
  <!-- Buscador -->
  <div class="search-container">
    <div class="search-input">
      <svg class="search-icon" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
      </svg>
      <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar aplicaciones..." class="search-field">
    </div>
  </div>

  <!-- Vitrina de aplicaciones -->
  <div class="apps-grid">
    <div (click)="goToApp(app.link)" *ngFor="let app of filteredApps" class="app-card">
      <div *ngIf="app.icon" class="app-icon">{{ app.icon }}</div>
      <img *ngIf="app.iconLink" class="app-iconLinked" [src]="app.iconLink" alt="{{ app.name }} icon" />
      <div class="app-details">
        <h3 class="app-name">{{ app.name }}</h3>
        <span class="app-category">{{ app.category }}</span>
        <p class="app-description">{{ app.description }}</p>
      </div>
    </div>
  </div>
</div>
