<!-- Contenedor de carga de contactos -->
<div class="w-full flex justify-center items-center ">

<div class="flex w-full flex-col bg-white shadow-xl p-6 rounded-2xl max-w-3xl">

  <!-- Toolbar -->
  <div class="flex justify-between items-center mb-4 border-b pb-2">
    <h2 class="font-semibold text-gray-700">📱 Lista de Contactos</h2>
    <div class="flex space-x-2">
      <button (click)="clearContacts()"
        class="px-3 py-1 text-sm font-medium border rounded hover:bg-gray-100 transition">
        Limpiar
      </button>
      <label class="px-3 py-1 text-sm font-medium bg-green-600 text-white rounded hover:bg-green-700 transition cursor-pointer">
        Importar CSV
        <input type="file" accept=".csv" (change)="onFileSelected($event)" class="hidden" />
      </label>
    </div>

  </div>

  <!-- Zona de input manual -->
  <div class="flex items-center space-x-2 mb-4">
    <input [(ngModel)]="newContact" placeholder="Ej: 3008578593 o pega una lista separada por comas"
      class="flex-1 rounded-xl border border-gray-300 px-4 py-2 text-sm focus:outline-none focus:ring focus:border-green-400" />
    <button (click)="addContact()"
      class="px-4 py-2 text-sm font-medium bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition">
      ➕ Agregar
    </button>
  </div>

  <!-- Lista de contactos -->
  <div class="flex-1 max-h-[250px] overflow-y-auto space-y-2">
    <div *ngFor="let contact of contacts; let i = index"
      class="flex justify-between items-center bg-gray-50 p-3 rounded-xl border border-gray-200">
      <span class="text-sm font-medium text-gray-800">{{ contact }}</span>
      <button (click)="removeContact(i)" class="text-red-500 text-sm hover:underline">
        Eliminar
      </button>
    </div>

    <!-- Si no hay contactos -->
    <div *ngIf="contacts.length === 0" class="text-center text-gray-400 text-sm py-4">
      No has agregado contactos aún.
    </div>
  </div>

  <!-- Resumen inferior -->
  <div class="flex justify-between items-center mt-4 border-t pt-2 text-sm text-gray-600">
    <span>Total: {{ csvContacts.length }} contactos</span>
    <span *ngIf="invalidContacts > 0"> Invalidos o duplicados: <strong class="text-red-500">{{invalidContacts }}</strong> contactos</span>
    <span *ngIf="contacts.length > 0"> Validos: <strong class="text-green-500">{{ contacts.length }}</strong> contactos</span>

  </div>
</div>

</div>

