<!-- Barra inferior de pasos -->
<div class="w-full flex justify-center items-center ">
  <div
    class="w-full flex justify-between items-center mt-6 px-4 py-3 bg-white shadow-md rounded-2xl border border-gray-200 max-w-3xl">

    <!-- Botón Atrás -->
    <button (click)="goToPreviousStep()"
      class="px-4 py-2 text-sm font-medium rounded-xl border border-gray-300 hover:bg-gray-100 transition">
      ⬅ Atrás
    </button>

    <!-- Indicador de paso -->
    <div class="flex items-center space-x-2">
      <div *ngFor="let step of steps; let i = index" class="w-3 h-3 rounded-full transition-all" [ngClass]="{
               'bg-green-600 scale-110': i === currentStep,
               'bg-gray-300': i !== currentStep
             }">
      </div>
    </div>

    <!-- Botón Siguiente / Finalizar -->
    <button (click)="goToNextStep()"
      class="px-4 py-2 text-sm font-medium text-white bg-green-700 rounded-xl hover:bg-green-800 transition">
      {{ currentStep === steps.length - 1 ? 'Finalizar' : 'Siguiente ➡' }}
    </button>

  </div>
</div>
