::ng-deep code {
  background-color: #eee;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-family: monospace;
}

::ng-deep strong {
  font-weight: bold;
}

::ng-deep em {
  font-style: italic;
}

/* assets/css/whatsapp-bg.css */
/* Fondo tipo WhatsApp realista */
/* assets/css/whatsapp-bg-pattern.css */
.bg-whatsapp {
  background-color: #ece5dd; /* color base del chat */
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h60v60H0z' fill='none'/%3E%3Cg fill='%23dce1d0' opacity='0.2'%3E%3Ccircle cx='10' cy='10' r='2'/%3E%3Ccircle cx='30' cy='30' r='2'/%3E%3Ccircle cx='50' cy='50' r='2'/%3E%3Ccircle cx='50' cy='10' r='2'/%3E%3Ccircle cx='10' cy='50' r='2'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
}
