<div class="bg-gray-100 p-4  min-h-screen">
  <div class="w-full justify-between flex flex-col  md:flex-row p-3 md:p-8">


    <div class="mt-6 rounded-md h-max bg-white p-4 md:p-8 shadow-md">
      <label for="fileInput" class="mb-4 block">Seleccionar Archivos</label>
      <input type="file" id="fileInput" multiple (change)="onFileSelect($event)" class="mb-4" />

      <div class="mb-4 max-h-[200px] overflow-y-auto">
        Archivos seleccionados:
        <ul>
          <li *ngFor="let file of displayFileNames()">{{ file }}</li>
        </ul>
      </div>

      <div class="mb-4 flex items-center justify-start">
        <input
          type="text"
          id="prefixInput"
          [(ngModel)]="prefix"
          placeholder="prefijo"
          class="rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <span class="flex w-full">#-filename.ext</span>
      </div>

      <button (click)="renameAndDownloadFiles()" class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">
        Renombrar y Descargar Archivos
      </button>
    </div>
    <div class="mt-6 rounded  p-6 ">
      <h2 class="mb-4 text-2xl font-bold">Configuración de Descargas</h2>
      <p class="mb-4">Para descargar archivos en una carpeta específica, sigue estos pasos en tu navegador:</p>
      <ol class="mb-4 list-decimal pl-4">
        <li class="mb-2">
          Google Chrome:
          <ol class="list-decimal pl-4">
            <li class="mb-1">Haz clic en los tres puntos en la esquina superior derecha.</li>
            <li class="mb-1">Selecciona "Configuración".</li>
            <li class="mb-1">Desplázate hacia abajo y haz clic en "Avanzado".</li>
            <li class="mb-1">En la sección "Descargas", haz clic en "Cambiar" y elige la carpeta deseada.</li>
          </ol>
        </li>
        <li class="mb-2">
          Mozilla Firefox:
          <ol class="list-decimal pl-4">
            <li class="mb-1">Haz clic en el menú en la esquina superior derecha y selecciona "Opciones".</li>
            <li class="mb-1">Ve a la pestaña "General".</li>
            <li class="mb-1">En la sección "Descargas", haz clic en "Explorar" y selecciona la carpeta deseada.</li>
          </ol>
        </li>
        <li class="mb-2">
          Safari:
          <ol class="list-decimal pl-4">
            <li class="mb-1">Haz clic en "Safari" en la barra de menú y selecciona "Preferencias".</li>
            <li class="mb-1">Ve a la pestaña "General".</li>
            <li class="mb-1">En la sección "Descargas", selecciona la carpeta deseada desde el menú desplegable.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

</div>
<div class="flex rounded-lg p-3 md:p-6 md:pt-8  justify-center bottom-0 fixed w-full bg-gray-100">
  <p class=" text-xs text-gray-500">© BIGSO.CO - Todos los derechos reservados</p>
</div>
