<div class="min-h-screen  px-6 py-12 pb-6 bg-gray-50 text-gray-800">

  <div class="max-w-5xl mx-auto">
    <h1 class="text-3xl font-semibold mb-4">Centro de Notificaciones</h1>
    <p class="text-gray-600 mb-10 text-lg">Gestiona el envío de notificaciones por múltiples canales de manera
      unificada.</p>

    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10">
      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <img src="assets/icons/whatsapp.svg" class="w-10 h-10 mb-3" alt="WhatsApp" />
        <h3 class="font-medium text-lg">WhatsApp</h3>
        <p class="text-sm text-gray-500">Mensajes automáticos a través de cuentas verificadas.</p>
      </div>

      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <img src="assets/icons/sms.svg" class="w-10 h-10 mb-3" alt="SMS" />
        <h3 class="font-medium text-lg">SMS</h3>
        <p class="text-sm text-gray-500">Alertas directas a teléfonos móviles en segundos.</p>
      </div>

      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <img src="assets/icons/telegram.svg" class="w-10 h-10 mb-3" alt="Telegram" />
        <h3 class="font-medium text-lg">Telegram</h3>
        <p class="text-sm text-gray-500">Conectividad segura con canales y bots.</p>
      </div>

      <div class="bg-white p-6 rounded-xl shadow hover:shadow-md transition">
        <img src="assets/icons/email.svg" class="w-10 h-10 mb-3" alt="Correo" />
        <h3 class="font-medium text-lg">Correo</h3>
        <p class="text-sm text-gray-500">Mensajes formales, campañas y notificaciones masivas.</p>
      </div>
    </div> -->

    <div *ngIf="!loadingService.loading && !hasVinculated()" class="bg-white border border-blue-100 p-6 rounded-xl shadow-inner">
      <h2 class="text-xl font-semibold text-blue-700 mb-2">Suscríbete para activar esta aplicación</h2>
      <p class="text-gray-600 mb-4">Aunque estás loggeado, aún no estás vinculado a esta app de notificaciones.
        Suscríbete para comenzar a usar todas sus funcionalidades.</p>
      <button (click)="subscribeToApp()"
        class="px-5 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">
        Activar aplicación
      </button>
    </div>

    <david-sender-agents-hub *ngIf="!loadingService.loading && hasVinculated() === true && currentStep === 2"></david-sender-agents-hub>
    <david-sender-contacts-loader *ngIf="!loadingService.loading && hasVinculated() === true && currentStep === 1"></david-sender-contacts-loader>

      <david-sender-control-bar
      *ngIf="!loadingService.loading && hasVinculated() === true"
      (stepChange)="onStepChange($event)">
      </david-sender-control-bar>



    <app-rich-text-to-json *ngIf="!loadingService.loading && hasVinculated() === true && currentStep === 0"/>

  </div>

</div>
