::ng-deep .cdk-overlay-backdrop {
  @apply absolute h-screen w-screen bg-gray-800 bg-opacity-50 backdrop-blur-sm;
}

::ng-deep .cdk-global-overlay-wrapper,
::ng-deep .cdk-overlay-container {
  @apply flex items-center justify-center overflow-hidden;
  // Esto alinea al centro y evita scroll
  height: 100vh !important;
  width: 100vw !important;
}
